<p id="notice"><%= notice %></p>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to 'My Profile', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete Account', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>