
<h2> Welcome Back <%=  @user.first_name %> </h2>

<div>
    <h3> Itineraries </h3>

    <% @user.itineraries.each do |itinerary| %>
    <div>
      <p><%= link_to "#{itinerary.name}", itinerary %></p>
      <p> Events count: <%= itinerary.events.count %> </p>
    </div>
    <% end %>
</div>

