

<div class="section edit-form">
    <div class="container">
      <h3 class="section-heading"><%=  @user.first_name %>'s Itineraries</h3>

      <% @user.itineraries.each do |itinerary| %>
      <h4 class="section-description"><%= link_to "#{itinerary.name}", itinerary %></h4>
      <% end %>

    </div>
  </div>
  <%= link_to 'Edit Profile', edit_user_path(@user) %>