// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.concierge {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #0d07108a;
  border-style: solid;
  border-color: #f0d0ffde;
  border-width: 10px 0 0 0;
  box-shadow: 0 0 5px black;
}


.concierge h3 {
  font-size: 27px;
  color: white;
}

.concierge p {
  font-size: 14px;
}

.concierge form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.concierge img {
  margin: 0 0 20px 0;
  height: 200px;
  width: 200px;
  border: none;
}

.amount span {
  color: rgba(0, 0, 0, .7);
  color: rgba(1, 223, 0, 0.9);
    font-size: 30px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .6);
}

.no-display {
  display: none;
}

.buy-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.buy-option h3 {
  color: rgb(237, 220, 250);

}

.buy-option input[type=submit] {
  background-color: rgb(145, 227, 141);
  border-radius: 10px;
  border: none;
  color: rgb(0, 0, 0);
  margin-top: 8px;
}

.buy-option input[type=submit]:hover {
  background-color: rgb(118, 195, 193);
  color: white;
}
