// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.edit-form {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3%;
    border-top: 10px solid #f0d0ffde;
    background-color: #0d07108a;
}
