<center>
<div class="concierge">
<h3>DIGITAL RECEIPT</h3>
<h4>You have purchased our personal concierge services for $59.99.</h4>
<p> You will be assigned a personal concierge and will be in contact very shortly! Check your email for details.</p>

<p>Questions? Call us anytime at (844)-322-2633</p>
</div>
</center>
