<div class="container">
    <div class="row">
        <div class="twelve columns" style="margin-left: 33%;">

<% @charges.each do |x| %>
<%= x.receipt_email %><br>
<%= x.id %><br>
<%= x.customer %><br>
<% end %>
    
        </div>
    </div>